.wrapper {
    padding: 40px 20px;
    background: var(--color-light-bg);
    border-radius: 6px;
    width: 100%;
    max-width: 400px;
}

.form {
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
}

.formContainer {
    width: 100%;
    display: grid;
    justify-items: center;
    margin: 0 auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "input1"
        "input2"
        "textarea"
        "button";
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
}

.inputWrap:nth-child(2) {
    grid-area: input2;
}

.inputWrap:nth-child(3) {
    grid-area: input3;
}

.title {
    margin-bottom: 30px;
}

.inputs {
    outline: none;
    width: 100%;
    height: 45px;
    padding-left: 15px;
    border-radius: 5px;
    font-family: inherit;
    border: none;
    color: var(--color-base);
    background: var(--color-base-bg);
}

.textarea {
    outline: none;
    width: 100%;
    padding-left: 15px;
    padding-top: 10px;
    border-radius: 5px;
    font-family: inherit;
    height: 100%;
    background: var(--color-base-bg);
    color: var(--color-base);
    outline: none;
    border: none;
}

.btn {
    padding: 0;
    margin-right: auto;
    border-radius: 5px;
    font-weight: 700;
    width: 70px;
    font-size: var(--font-size-p);
}

.inputWrap {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    max-width: 400px;

    label {
        margin-bottom: 5px;
        margin-left: 5px;
    }
}

.textareaWrap {
    width: 100%;
    max-width: 500px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
    grid-area: textarea;

    label {
        margin-bottom: 5px;
        margin-left: 5px;
    }
}

.error {
    position: absolute;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-weight: 700;
    color: var(--color-warning);
    left: 16px;
    bottom: -16px;
}

.inpError {
    border: 2px solid var(--color-warning);
    outline: none;
}

.loadingIcon {
    color: var(--color-base);
    font-size: 60px;
    margin-bottom: 10px;
}

.successIcon {
    color: var(--color-accent);
    font-size: 60px;
    margin-bottom: 10px;
}

.failIcon {
    color: var(--color-warning);
    font-size: 60px;
    margin-bottom: 10px;
}
