.container {
    background: var(--color-light-bg);
    border-radius: 6px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 20px;
    gap: 20px;
    max-width: 85vw;
}

.content {
    padding: 10px 20px;
    width: 100%;
    max-width: 450px;
    height: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;

    .description {
        text-align: center;
        font-size: 18px;
        line-height: 22px;
    }

    .technologies {
        display: flex;
        gap: 10px;

        .technology {
            padding: 4px 10px;
            border-radius: 6px;
            color: var(--color-light-gray);
            border: 1px solid var(--color-light-gray);
            font-size: var(--font-size-h4);
        }
    }

    .buttons {
        display: flex;
        gap: 30px;

        > .btn {
            display: flex;
            align-items: center;
            gap: 5px;
            cursor: pointer;
            position: relative;

            .nda {
                display: none;
            }

            .btnText {
                font-size: var(--font-size-h4);
                transition: all 0.2s ease;
            }

            .iconCode {
                font-size: var(--font-size-h4);
                margin-bottom: 3px;
                transition: all 0.2s ease;
            }

            .iconDemo {
                font-size: var(--font-size-h4);
                margin-bottom: 2px;
                transition: all 0.2s ease;
            }

            &:hover {
                > * {
                    color: var(--color-accent);
                    transform: translateX(10px);
                }
            }

            &.disabled {
                color: var(--color-disabled);

                .nda {
                    display: block;
                    position: absolute;
                    width: max-content;
                    opacity: 0;
                    font-size: var(--font-size-h4);
                    top: 30px;
                    left: 50%;
                    padding: 5px 10px;
                    border-radius: 6px;
                    background: var(--color-dark-gray);
                    color: black;
                    transition: all 0.2s ease;
                    pointer-events: none;
                    transform: translateX(-50%);
                }

                .btnText {
                    color: var(--color-disabled);
                }

                &:hover {
                    .iconCode,
                    .iconDemo,
                    .btnText {
                        color: inherit;
                        transform: none;
                    }

                    .nda {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 30px;
    max-width: 300px;
    text-align: center;
    cursor: auto;

    .btn {
        display: flex;
        align-items: center;
        gap: 5px;
        cursor: pointer;

        .btnText {
            font-size: var(--font-size-h4);
            transition: all 0.2s ease;
        }

        .iconDemo {
            font-size: var(--font-size-h4);
            margin-bottom: 2px;
            transition: all 0.2s ease;
        }

        &:hover {
            > * {
                color: var(--color-accent);
            }
        }
    }
}

.image {
    width: 100%;
    height: 55%;
    border-radius: 6px;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 6px;
    }
}

@media (min-width: 769px) {
    .container {
        max-width: 1000px;
        height: 400px;
        justify-content: space-between;
    }

    .container:nth-child(even) {
        flex-direction: row;
    }

    .container:nth-child(odd) {
        flex-direction: row-reverse;
    }

    .content {
        width: 45%;
        height: 100%;
        align-items: start;

        .description {
            text-align: start;
        }
    }

    .image {
        width: 55%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }
}
