.container {
    color: var(--color-base);
    margin: 0 auto;
    max-width: 1600px;
    display: none;
    flex-direction: column;
    align-items: center;
}

.shown {
    display: flex;
}

.title {
    margin-bottom: 30px;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
