.planet {
    position: fixed;
    height: 100lvh;
    right: 0;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;
    border: 1px solid red;
}

.stars {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../../shared/assets/images/background/stars.svg);
    z-index: -2;
}
