.container {
    width: 24px;
    height: 45px;
    border: 1px solid var(--color-dark-gray);
    border-radius: 25px;
}

.ball {
    position: absolute;
    left: 50%;
    top: 8px;
    width: 6px;
    height: 6px;
    background: var(--color-base);
    border-radius: 50%;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform: translateX(-50%) translateY(0);
    animation-name: scroll;
}

@keyframes scroll {
    0% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(26px);
    }
}
