.container {
    width: 100%;
    padding-left: 40px;
}

.greeting {
    max-width: fit-content;
    font-size: clamp(44px, 4vw + 5px, 62px);
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    display: block;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    color: var(--color-base);
}

.text {
    max-width: 500px;
    color: var(--color-dark-gray);
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin-bottom: 20px;
}

.connect {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 2px;
    transition: 0.3s ease-in-out;
    width: fit-content;
    padding-left: 0;
    display: flex;
    align-items: center;
    color: var(--color-base) !important;

    .icon {
        margin-left: 10px;
    }

    &:hover {
        margin-left: 25px;
        color: var(--color-accent) !important;
    }
}

.accent {
    color: var(--color-accent);
}

@media (max-width: 960px) {
    .content {
        width: fit-content;
        padding-top: 40px;
    }
}

@media (max-width: 650px) {
    .greeting {
        margin-top: 10px;
        font-size: clamp(40px, 3vw + 10px, 44px);
    }
}

@media (max-width: 480px) {
    .greeting {
        font-size: clamp(32px, 5vw + 10px, 40px);
    }

    .description {
        font-size: clamp(12px, 4vw + 1px, 18px);
    }
}

@media (max-height: 400px) {
    .connect {
        margin-bottom: 10px;
    }
}
