.container {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}