.wrapper {
    padding: 70px 40px 10px;
}

.container {
    color: var(--color-base);
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

@media (min-width: 961px) {
    .container {
        justify-content: flex-start;
    }
}
